@import "../../config/theme.scss";

.guild-queue {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  gap: 1rem;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  margin: 1rem 0.3rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
