.server-icon-letter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  width: 3rem;
  height: 3rem;
  background-color: #555;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  flex-shrink: 0;
}

.page-sidepanel {
  padding: 1rem;
  background-color: #181818;
  border-radius: 0.5rem;
  margin-right: 1rem;
  max-width: 20rem;
  overflow: hidden;

  .page-header {
    white-space: nowrap;
    overflow: hidden;

    h1 {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.guild-not-playing {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #333;
  width: min(100%, 40rem);
}

.not-playing-header {
  margin-bottom: 1rem;
}

.guild-control {
  display: grid;
  grid-template-areas: "sidebar queue" "control control";
  grid-template-columns: auto 3fr;
  grid-template-rows: 1fr auto;
  margin-top: 0;
  overflow: hidden;
  max-height: calc(100vh - 6.5rem);
}

.create-queue {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 100;
  color: #999;
}
