.server-icon-letter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  width: 3rem;
  height: 3rem;
  background-color: #555;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

.guild-not-playing {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: .5rem;
  border: 1px solid #333;
  width: min(100%, 40rem);
}

.not-playing-header{
  margin-bottom: 1rem;
}