.hero {
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  .hero-logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 3rem;
  }

  &-text {
    margin-left: 5rem;

    p {
      margin-bottom: 0.5rem;
    }
  }
}
